.main-container,
.component-div {
    font-family: "Inter", sans-serif;
}

.main-container {
    width: 100%;
    background: #ffffff;
}

.main-container-header {
    padding: 32px 35px;
    justify-content: space-between;
    background: url("/assets/images/sample-browser/main-banner.png") no-repeat 45% 100% / cover;
}

.main-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: #111827;
    margin: 2px 0 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.main-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #374151;
    margin: 12px auto 0 auto;
    width: 50%;
    text-align: center;
}

.button-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 16px;
}

.request-btn,
.figma-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

.request-btn {
    width: 149px;
    background: #101828;
    border: 0;
    color: #F9FAFB;
}

.figma-btn {
    width: 177px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    color: #000000;
}

.figma-img {
    margin-right: 4px;
}

.figma-img img {
    width: 20px;
    height: 20px;
}

.tabs {
    display: flex;
    list-style: none;
    background: #f9fafb;
    border-bottom: 1px solid #e5e7eb;
    padding: 0 35px;
    margin: 0;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tabs::-webkit-scrollbar {
    display: none;
}

.tab-content {
    padding: 0 35px;
    margin-top: 32px;
}

.tab-item {
    padding: 12px;
    margin-right: 6px;
    background: transparent;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #6b7280;
    line-height: 24px;
    display: inline-block;
}

.tab-item.active {
    color: #4f46e5;
    font-weight: 500;
}

.tab-item::after {
    content: "";
    height: 3px;
    background: #4f46e5;
    position: absolute;
    left: 0;
    bottom: 0;
}

.tab-item.active::after {
    width: 100%;
}

.component-div {
    padding-bottom: 48px;
    min-height: 100vh;
}

.components {
    list-style: none;
    padding: 0 32px 0 0;
    margin: 0;
}

.component-list-container {
    flex: 0 0 25%;
    max-width: 25%;
}

.component-list-blocks {
    display: flex;
    flex-wrap: wrap;
}

.component-list {
    width: 100%;
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    isolation: isolate;
    cursor: pointer;
}

.component-list:hover {
    background: #eef2ff;
    border-radius: 8px;
}

.component-list-text {
    margin: 9px 16px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.component-count {
    background: #f9fafb;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #374151;
    margin: 0 12px 0 auto;
    border-radius: 12px;
    white-space: nowrap;
    padding: 2px 8px;
}

.component-list-text span,
.block-footer .block-title span {
    background: #dcfce7;
    color: #15803d;
    font-weight: 400;
    font-size: 10px;
    border-radius: 12px;
    padding: 2px;
    margin-left: 8px;
}

.blocks-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    flex: 0 0 75%;
    max-width: 75%;
}

.blocks-col {
    display: flex;
    cursor: pointer;
}

.block-container {
    display: flex;
    flex-direction: column;
    background: #fff;
    overflow: hidden;
}

.block-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-content img {
    border-radius: 8px;
}

.block-footer {
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1f2937;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60%;
}

.block-count {
    color: #6b7280;
    text-align: end;
    width: 40%;
}

@media (min-width: 1440px) {
    .main-container,
    .component-div {
        max-width: 1440px;
        margin: 0 auto;
    }
}

@media (max-width: 1024px) {
    .main-container-header {
        padding: 20px 24px;
        background-size: auto;
        background-position: 0 100%;
        height: auto;
    }

    .main-title {
        font-size: 30px;
        line-height: 40px;
    }

    .tabs,
    .tab-content {
        padding: 0 24px;
    }

    .blocks-list {
        grid-template-columns: repeat(2, 1fr);
        flex: 0 0 65%;
        max-width: 65%;
    }

    .component-list-container {
        flex: 0 0 35%;
        max-width: 35%;
    }
}

@media (max-width: 768px) {
    .main-description {
        width: 100%;
    }

    .tab-content {
        margin-top: 24px;
    }

    .blocks-list {
        margin-left: 0;
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
        flex: 0 0 100%;
    }

    .component-list-container {
        display: none;
    }
}

@media (max-width: 480px) {
    .main-description {
        font-size: 16px;
        line-height: 24px;
    }

    .blocks-list {
        grid-template-columns: 1fr;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .request-btn,
    .figma-btn {
        width: 100%;
        max-width: 180px;
    }
}