#dialog :global(.e-dlg-content) {
    padding: 0;
}

#upload-template {
    border-style: dashed !important;
}

#upload-template :global(.e-file-select-wrap) {
    display: none;
}

#upload-template :global(.e-upload) {
    float: none;
    border: none;
}

#upload-template :global(.e-upload .e-upload-files .e-upload-file-list) {
    border-bottom: 0;
}