#dialog :global(.e-dlg-header-content),
#dialog :global(.e-footer-content) {
    border: inherit;
    border-inline: none;
    border-radius: 0;
}

#dialog :global(.e-dlg-header-content) {
    border-top: 0;
}

#dialog :global(.e-footer-content) {
    border-bottom: 0;
}