#menu :global(.e-menu-wrapper.e-hamburger .e-menu-parent) {
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.05);
    left: auto;
    overflow-y: hidden;
    right: 0;
    width: 150px;
    z-index: 1;
}

#menu .e-menu-wrapper.e-hamburger ul .e-menu-item,
.e-menu-container.e-hamburger ul .e-menu-item {
    padding-right: 14px;
}