#chat-sidepanel :global(.e-list-item) {
  border: none !important;
  height: auto !important;
  padding: 8px !important;
}

#chat-sidepanel :global(.e-list-item.e-active),
#chat-sidepanel :global(.e-list-item:hover) {
  background-color: transparent !important;
}